body{
	background-color: #FFBB00;
}
#header {
	height: 50px;
	background-color: #FF8600;
	margin-bottom: 10px;
	position: relative;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;	
}
h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 25px;
}